{% from "macros/flashed_messages.html" import flashed_messages with context %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/vendor/bootstrap-5.2.0/css/bootstrap.css" rel="stylesheet" type="text/css">

    {% block head %}
    {% endblock %}

    <title>CRUD app</title>
</head>

{% block body %}
    <body>
        <!-- NAV BAR -->
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">CRUD APP</span>
              </a>
              <ul class="nav nav-pills">
                {% if current_user.is_anonymous %}

                <li class="nav-item"><a href="/login " class="nav-link">Login</a></li>
                <li class="nav-item"><a href="/register " class="nav-link">Register</a></li>
                {% else %}
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/user" class="nav-link">Users</a></li>
                <li class="nav-item"><a href="/book " class="nav-link">Books</a></li>
                <li class="nav-item"><a href="/logout " class="nav-link">Logout</a></li>
                {% endif %}
              </ul>
            </header>
        </div>
        <!-- NAV BAR END -->



        <div class="container-fluid mt-4">
            {{ flashed_messages() }}



            {% block main %}
            
            {% endblock %}
        </div>


        <script src="/static/vendor/bootstrap-5.2.0/js/bootstrap.js"></script>    
        {% block scripts %}
        {% endblock %}
    </body>
{% endblock %}
</html>